body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cadetblue !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.add-birth-certificate {
  float: left;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: aliceblue;
}

.record-deceased-citizen {
  float: right;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: aliceblue;
}
.margin-lg {
  margin: 30px;
}

.citizen-manipulation-div {
  background-color: cadetblue;
}
