<div class="card col-md-6 offset-md-3">
    <h3>Upis deteta</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="jmbg">JMBG</label>
                <input type="text" class="form-control" [(ngModel)]="dete.jmbg" id="jmbg" required name="jmbg">
            </div>
            <div class="form-group">
                <label for="name">Ime </label>
                <input type="text" class="form-control" [(ngModel)]="dete.name" id="name" required name="name">
            </div>
            <div class="form-group">
                <label for="lastname">Prezime</label>
                <input type="text" class="form-control" [(ngModel)]="dete.lastname" id="lastname" required name="lastname">
            </div>
            <div class="form-group">
                <label for="address">Adresa </label>
                <input type="text" class="form-control" [(ngModel)]="dete.address" id="address" required name="address">
            </div>
            <div class="form-group">
                <label for="placeOfBirth">Mesto rodjenja</label>
                <input type="text" class="form-control" [(ngModel)]="dete.placeOfBirth" id="placeOfBirth" required name="placeOfBirth">
            </div>
            <div class="form-group">
                <label for="vrtic">Mesto rodjenja</label>
                <input type="hidden" class="form-control" [(ngModel)]="dete.vrtic" id="vrtic" required name="vrtic">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form> 
</div>