#konkurs-table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
  }
  
  #konkurs-table td,#konkurs-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #konkurs-table tr:nth-child(even) td{
    background: #f2f2f2;
  }
  
  #konkurs-table tr:hover td{
    background: #ddd;
  }
  
  #konkurs-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00a8ba;
    color: white;
  }